[submodule "src/github.com/Infra-Red/cf-postgresql-broker"]
	path = src/github.com/Infra-Red/cf-postgresql-broker
	url = https://github.com/Infra-Red/cf-postgresql-broker.git
[submodule "src/github.com/Infra-Red/cf-postgresql-smoke-tests"]
	path = src/github.com/Infra-Red/cf-postgresql-smoke-tests
	url = https://github.com/Infra-Red/cf-postgresql-smoke-tests.git
